// nav

.navbar {
  background-color: #101b27;
  margin-bottom: 20px;
  padding: 0;

  &-nav {
    .nav-link {
      color: white;
      padding: 20px 15px !important;
      font-size: 14px;
      text-transform: uppercase;

      &.active {
        text-decoration: underline;
      }
      &:hover {
        color: #9999e6;
      }
    }
  }

  .navbar-brand {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 40px;
  }

  .register-btn {
    background-color: #29bc97;

    &:hover {
      color: black;
    }
  }

  .login-btn {
    background-color: #24cb4f;

    &:hover {
      color: black;
    }
  }

  .logout-btn {
    background-color: #ff4a4a;

    &:hover {
      color: black;
    }
  }
}
