<div class=task-container>
  <h2 class="typed-header">Working on </h2>
  <p class="task-time">From <%= @current_task.created_at.to_formatted_s(:short) %></p>
  <span id="elemenTyped" data-text="<%= @current_task.body %>"></span>
</div>

<div class="home-container">
  <h1 class="cover-heading home-title">Welcome</h1>
  <p class="home-p"><%= @profile.header %></p>
  <p>
    <%= link_to("About Me", about_me_path, class: "btn btn-lg btn-secondary btn-portfolio") %>
  </p>
</div>
