@import "bootstrap";
@import "registration";
@import "gritter";
@import "shared/social-links";
@import "shared/nav";
@import "font-awesome";
// @import "blogs";

/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn-portfolio {
  color: white !important;
  background-color: #eab126 !important;
  border: 1px solid #eab126 !important;

  &:hover, &:focus, &:active {
    background-color: #eab126 !important;
    color: black !important;
    border: 1px solid #eab126 !important;
  }
}

.hidden-seo {
  visibility: hidden;
  position: absolute;
}

/* Links */
a,
a:focus,
a:hover {
  color: white;
}


/*
 * Base structure
 */

@font-face {
  font-family:'Raleway';
  src:font-url('Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src:font-url('Roboto-Regular.ttf');
}

body {
  text-align: center;
}

.body-wrapper {
  min-height: 100%;
  margin-bottom: -60px;
}

html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  color: black;
  background-color: #f8f8f8;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Roboto', sans-serif;
}

.content-wrapper {
  padding-bottom: 50px;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
}

.app-nav span {
  margin: 0 15px;
}

.tech-news {
  color: black;
  margin: 20px;
  font-size: 12px;

  a {
    color: green;
  }

  > .card {
    padding: 30px;
  }
}

.app-card-container {
  text-align: left;
  font-size: 15px;

  h1 {
    text-transform: uppercase;
    font-size: 24px;
  }

  h3 {
    font-size: 17px;
  }

  a {
    color: black;
  }

  .card {
    &-portfolio {
      padding: 40px;

      .card-job {
       padding: 15px;
      }
    }
  }

  img {
    border-radius: 50%;
  }

  .home-center {
    text-align: center;
  }
}

.card-block {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-about {
  margin-top: 20px;
  background-color: transparent;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #101b27;
  margin-top: -60px;
  color: white;
}

.home-container {
  margin-top: 150px;

  h1 {
    margin-bottom: 20px;
    font-size: 53px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .home-p {
    margin-bottom: 30px;
  }
}

.skills {
  margin-top: 10px;

  h4 {
    font-size: 17px;
  }
}

.auth-links {
  margin-top: 10px;

  a {
    color: black;
  }
}

.cv-section {
  .btn-portfolio {
    margin: 10px 0;
  }
}










