// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "jquery-ui";
@import "gritter";
@import "shared/social-links";
@import "shared/nav";
@import "font-awesome";

@font-face {
  font-family:'Raleway';
  src:font-url('Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src:font-url('Roboto-Regular.ttf');
}

html, body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Raleway', sans-serif;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y));
    padding-bottom: calc(var(--jumbotron-padding-y));
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  text-transform: uppercase;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.portfolio-form {
  padding: 20px;
}

.portfolio-container {
  padding-top: 30px;
}

.portfolio-title {
  font-size: 26px;
}

.portfolio-subtitle {
  font-size: 18px;
  font-weight: bold;
}

.portfolio-tech {
  font-size: 18px;
  font-weight: bold;
}
